{% block cart_preview_stylesheet %}
    <style>
        .cartPreview{
            display: inline-block;
            position: relative;
        }
        .cartPreview .details{
            -webkit-transition: all .5s; /* Safari */
            transition: all .5s;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            z-index: 20;
            background: #FFFFFF;
            top: 100%;
            left: -200px;
        }
        .cartPreview:hover .details{
            -webkit-transition: all .5s; /* Safari */
            transition: all .5s;
            max-height: 500px;
            border: 1px solid grey;
            padding: 10px 20px;
        }
    </style>
{% endblock %}
<div class="cartPreview">
    <div class="right aligned column">
        {% block cart_preview_icon %}
            <div id="skusku-cart-button" class="ui circular cart button">
                <i class="cart icon"></i>
                <span id="skusku-cart-total">{{ cart.getTotalQuantity() }} - {{ cart.getTotalPrice() }}€</span>
            </div>
        {% endblock %}
        {% block cart_preview_detail %}
            <div class="details">
                {% if cart.products.count > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ 'product'|trans }}</th>
                            <th scope="col">{{ 'price'|trans }}</th>
                            <th scope="col">{{ 'quantity'|trans }}</th>
                            <th scope="col">{{ 'subtotal'|trans }}</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in cart.products %}
                            <tr>
                                <th>{{ product.id }}</th>
                                <td>{{ product.product.getTitle() }}</td>
                                <td>{{ product.product.getPrice() }}€</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.getSubtotal() }}€</td>
                                <td><i data-idcartproducturl="{{ path('remove_item_from_cart', {'product': product.id}) }}" class="fa fa-trash"></i></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ cart.getTotalPrice() }}€</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <h2>No products in cart</h2>
                {% endif %}
                <a href="{{ path('cart_page') }}" class="btn btn-primary">Cart</a>
            </div>
        {% endblock %}
    </div>
</div>
{% block cart_preview_javascript %}
    <script>
        jQuery('.cartPreview .fa-trash').on('click', function(e) {
            var $button = $(this);
            $.get( $button.data('idcartproducturl'), function( data ) {
                $button.closest('tr').fadeOut();
            });
        });
    </script>
{% endblock %}