<div>
    {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
</div>

{% if form.vars.data.cart.products is not empty %}
	{{ form_start(form) }}
	{{ form_errors(form) }}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message|trans }}
		</div>
	{% endfor %}

	{{ form_rest(form) }}

	{% include '@GGGGinoSkuskuCart/Cart/buttons.html.twig' with {
		craue_formflow_button_class_last: 'btn btn-primary',
		craue_formflow_button_class_finish: 'btn btn-primary',
		craue_formflow_button_class_next: 'btn btn-primary',
		craue_formflow_button_class_back: 'btn btn-primary',
		craue_formflow_button_class_reset: 'btn btn-danger',
	} %}

	<script>

	</script>
	{{ form_end(form) }}
{% else %}
	<h2>{{ "cart_empty"|trans }}</h2>
{% endif %}